<mat-toolbar color="primary">
  <span>
    <a routerLink="/">My Posts </a>
  </span>

  <span class="spacer"></span>

  <ul>
    <div class="auth">
      <ul>
        <li>
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
            >Sign Up</a
          >
        </li>
        <li>
          <a mat-button routerLink="/login" routerLinkActive="mat-accent"
            >Login</a
          >
        </li>
      </ul>
    </div>
    <li class="create-btn">
      <a
        mat-flat-button
        color="accent"
        routerLink="/create"
        routerLinkActive="mat-accent"
        >Create Posts</a
      >
    </li>
  </ul>
</mat-toolbar>
