<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Posts </a>
  </span>

  <span class="spacer"></span>

  <ul class="actions">
    @if (userIsAuthenticated) {
    <li class="create-btn">
      <a
        mat-flat-button
        color="accent"
        routerLink="/create"
        routerLinkActive="mat-accent"
        >Create Posts</a
      >
    </li>
    }

    <li>
      <ul class="auth">
        @if (!userIsAuthenticated) {
        <li>
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
            >Sign Up</a
          >
        </li>
        <li>
          <a mat-button routerLink="/login" routerLinkActive="mat-accent"
            >Login</a
          >
        </li>
        } @else {
        <li>
          <button mat-button (click)="onLogOut()">Log Out</button>
        </li>
        }
      </ul>
    </li>
  </ul>
</mat-toolbar>
