<mat-card>
  @if(loading) {
  <mat-spinner></mat-spinner>
  } @else {
  <form (submit)="onAddPost()" [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Title"
        name="titleForm"
        formControlName="title"
      />
      @if (form.get('title')!.invalid && form.get('title')?.touched) {
      <mat-error>Required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="contentForm"
        placeholder="Content"
        formControlName="content"
      ></textarea>
      @if (form.get('content')!.invalid && form.get('content')?.touched) {
      <mat-error>Required</mat-error>
      }
    </mat-form-field>


    <div>
      <button mat-flat-button color="accent" type="button" style="margin-bottom: 10px;" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker>
    </div>

    <button mat-raised-button color="primary" type="submit">
      {{ mode == "create" ? "Save " : "Edit " }} Post
    </button>
  </form>
  }
</mat-card>
