@if (posts.length>0) {
<mat-accordion>
  @for (post of posts; track post) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-raised-button color="accent">Edit</button>
      <button mat-raised-button color="warn">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  }
</mat-accordion>
} @else {
<p class="no-data-info mat-body-1"><strong>No Posts Created Yet</strong></p>
}
